/* Definition benutzerdefinierter Farbvariablen für das aktuelle Element oder die aktuelle Komponente */
:host {
  --bright-blue: oklch(51.01% 0.274 263.83); /* Helles Blau */
  --electric-violet: oklch(53.18% 0.28 296.97); /* Elektrisches Violett */
  --french-violet: oklch(47.66% 0.246 305.88); /* Französisches Violett */
  --vivid-pink: oklch(69.02% 0.277 332.77); /* Lebhaftes Pink */
  --hot-red: oklch(61.42% 0.238 15.34); /* Heißes Rot */
  --orange-red: oklch(63.32% 0.24 31.68); /* Orange-Rot */

  --gray-900: oklch(19.37% 0.006 300.98); /* Dunkelgrau */
  --gray-700: oklch(36.98% 0.014 302.71); /* Mittelgrau */
  --gray-400: oklch(70.9% 0.015 304.04); /* Hellgrau */

  /* Definition von Farbverläufen */
  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%, /* Startfarbe: Orange-Rot */
      var(--vivid-pink) 50%, /* Mittlere Farbe: Lebhaftes Pink */
      var(--electric-violet) 100% /* Endfarbe: Elektrisches Violett */
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%, /* Startfarbe: Orange-Rot */
      var(--vivid-pink) 50%, /* Mittlere Farbe: Lebhaftes Pink */
      var(--electric-violet) 100% /* Endfarbe: Elektrisches Violett */
  );

  /* Standard-Hintergrund- und Schriftarten */
  --pill-accent: var(--bright-blue); /* Akzentfarbe für die Pillen */

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Stile für Überschriften */
h1 {
  font-size: 3.125rem; /* Schriftgröße */
  color: var(--gray-900); /* Farbe */
  font-weight: 500; /* Schriftgewicht */
  line-height: 100%; /* Zeilenhöhe */
  letter-spacing: -0.125rem; /* Zeichenabstand */
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Stile für Absätze */
p {
  margin: 0;
  color: var(--gray-700); /* Farbe */
}

/* Stile für den Hauptbereich der Webseite */
main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

/* Stile für das Logo */
.angular-logo {
  max-width: 9.2rem;
}

/* Stile für den Inhaltsbereich */
.content {
  display: flex;
  justify-content: space-around;
  width: 150%;
  max-width: 900px;
  margin-bottom: 3rem;
  margin-left: 1rem;
  flex: 0 0 50cm; /* Flex-Eigenschaften: Kein Wachstum, Schrumpfen erlauben, automatische Basisbreite */
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

/* Stile für die Trennlinie */
.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 1px;
}

/* Stile für die Gruppe von Pillen */
.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 40px;
}

/* Stile für die Pillen */
.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

/* Zuordnung von Akzentfarben zu Pillen basierend auf ihrer Position */
.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--hot-red);
}

/* Stile für SVG-Icons in der Gruppe von Pillen */
.pill-group svg {
  margin-inline-start: 0.25rem;
}

/* Stile für die Social-Media-Links */
.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.social-links a:hover svg path {
  fill: var(--gray-900);
}

/* Medienabfragen für Bildschirmgrößen bis maximal 650px Breite */
@media screen and (max-width: 650px) {
  .content {
      flex-direction: column;
      width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
}
}

/* Stile für ein Quiz-Element */
.Quiz {
margin: 0 auto;
align-items: center;
text-align: center;
max-width: 1000px; /* Optional: Begrenze die maximale Breite des Elements */
}
nav {
  background-color: #a4a2a2;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}
#zufalls {
margin-top: 20px;
}
.container{
  flex: 0 0 200px; /* Flex-Eigenschaften: Kein Wachstum, Schrumpfen erlauben, automatische Basisbreite */
}