#background {
    background-color: #ffffff;
    }
  
    #menu li{
      margin-right: 1.675cm;
    }
  
    #dropdown-menu li{
    margin-left: 20px;
    }
  
  .left-side {
    left: -20px !important;
    }
    /* Stile für ein Quiz-Element */
    .Quiz {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    max-width: 1000px; /* Optional: Begrenze die maximale Breite des Elements */
    }
    
    #zufalls {
    margin-top: 20px;
    }
    .container{
      flex: 0 0 200px; /* Flex-Eigenschaften: Kein Wachstum, Schrumpfen erlauben, automatische Basisbreite */
    }
    
    /* Grundlegender Stil */
    nav {
      background-color: #a4a2a2;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    nav ul {
      list-style-type: none;;
    }
    
    nav ul li {
      display: inline-block;
      position: relative;
    }
    
    nav ul li a { /*Drop down Part */
      display: block;
      padding: 8px;
      text-decoration: none;
      color: #333;
    }
    
    /* Dropdown-Menü Stil */
    
    
    .dropdown-menu {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
    }
    /* Zeigt das Dropdown-Menü beim Überfahren */
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    /* Stil-Anpassungen für Hover-Zustand */
    nav ul li a:hover, .dropdown:hover > a {
      background-color: #a4a2a2;
    }
  
  /* Definition benutzerdefinierter Farbvariablen für das aktuelle Element oder die aktuelle Komponente */
  nav ul li button {
    display: block;
    padding: 8px;
    border: none;
    background: none;
    color: #333;
    cursor: pointer;
    font: inherit;
    text-align: left;
  }
  nav ul li button:hover {
    background-color: #a4a2a2;
  }